@media (max-width: 768px){
    .navbar__right-btn{
        display: none;
    }
    .navbar__right-list{
        display: none;
    }
}
@media (max-width: 768px){
    .navbar__right-contact{
        display: none;
    }
}
