@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #212529;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}
/* nav start */
.navbar{
    background: #1E2125;
}
.navbar___content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    max-width: 1920px;
    width: 100%;
    padding: 5px 32px;
}
.navbar__left{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.navbar__icons
{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.navbar__icons a{
    transition: .3s ease-in-out;
}
.navbar__icons a:hover
{
    transform: translateY(-5px);
}

.navbar__right-contact{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.navbar__right-number{
    color: #F3F3F3;
    transition: .5s ease-in;
}
.navbar__right-number:hover
{
    color: #6A369C;
}
.navbar__right{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.navbar__right-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 20px;
}
.navbar__right-item
{
    font-size: 15px;
    font-weight: 500;
    color: #F3F3F3;
    transition: .5s ease-in;
}
.navbar__right-item:hover{
    color: #6A369C;
}
.navbar__right-btn{
   
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: #6A369C;
  padding: 16px 24px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01);

  &::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
      to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770
    );
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
  }

  
}
@keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
.navbar__right-btn:hover{
    background-color:blueviolet;
}





.navbar__content{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(17, 17, 17, 0.3);
    backdrop-filter: blur(7.5px);
    z-index: 999;
}

.partners__map{
    border-radius: 10px;
    background: #212529;
}

/* nav end */


.information{
    margin-top: 50px;
}
.info-list{
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
}
.info-list a{
    color: #F3F3F3;
}
.info-list__title{
    color: #04FF14;
    font-size: 15px;
    font-weight: 500;
}

.main__content{
    margin-top: 50px;
    width: 100%;
}
.main__title{
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    color: #F3F3F3;
}
.main__desc{
    font-size: 15px;
    font-weight: 500;
    max-width: 930px;
    min-height: 230px;
    color: #F3F3F3;
    line-height: 23px;
}
.main__logistic{
    margin-top: 80px;
}
.logistic__title{
    font-size: 24px;
    font-weight: 700;
    color: #F3F3F3;
}
.logistic__links{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.logistic__items{
    font-size: 15px;
    font-weight: 500;
    color: #AFAFAF;
}


.requermintes{
    margin-top: 80px;
    width: 100%;
    height: auto;
}
.requirment__title
{
    font-size: 24px;
    font-weight: 700;
    color: #F3F3F3;
    line-height: 31px;
}

.requirment__lists
{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #AFAFAF;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* main end============ */

/* section start============ */
.section{
    margin-top: 120px;
    width: 100%;
    height: auto;
}

.partners__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partners__title{
    font-size: 24px;
    font-weight: 700;
    color: #F3F3F3;
}
.partner__brands{
    height: auto;
    display: flex;
    margin-top: 100px;
}
.img__brands{
    transition: .5s ease-in-out;
}
.img__brands:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.partners__map{
    margin-top: 170px;
    width: 100%;
    height: 400px;
}

/* section end=========== */

/* footer start========= */

.footer{
    margin-top: 70px;
}
.footer__content{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    gap: 40px;
}

.footer__list{
    display: flex;
    justify-content: center;
    row-gap: 14px;
    list-style: none;
    /* align-items: center; */
}
.footer__contact-title{
    font-size: 24px;
    font-weight: 500;
    color: #F3F3F3;
    line-height: 31.2px;
    margin-bottom: 33px;
}
.footer__social{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 21px;
}
.footer__social a{
    transition: .5s ease;
    
}
.footer__social a:hover{
    transform: translateY(-5px);
}
.footer__item-title{
    font-size: 15px;
    font-weight: 500;
    color: #AFAFAF;
    margin-bottom: 14px;
}
.footer__item-desc
{
    font-size: 18px;
    font-weight: 500;
    color: #F3F3F3;
    line-height: 23px;
}
.footer__list li:nth-child(3){
    width: 350px;
}
.footer__list li:nth-child(4){
    width: 350px;
}


.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 39px;
}
.footer__bottom_title{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.footer__b-title{
    font-size: 15px;
    font-weight: 500;
    color: #AFAFAF;
}