*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  a{
    text-decoration: none;
  }
  .header {
    background: #1e2125;
    color: #fff;
  }
  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
  .link_item {
    display: flex;
    
    align-items: center;
  }
  .socials {
    padding: 0 20px;
  }
  .socials a {
    margin-left: 5px;
  }
  .phone a {
    margin-right: 10px;
  }
  .link_item li {
    margin-left: 20px;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .nav_link{
    display: flex;
    align-items: center;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_select {
    background: #1e2125;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    border: none;
  }
  .nav_btn {
    background: #6a369c;
    padding: 30px 30px;
    margin-left: 50px;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .nav__hamburger{
    display: none;
  }

  .hero__list{
    list-style:square;
  }
  .wrapper{
   width: 750px;
  }
  .section__content {
    background-color: #212529;
    color: #fff;
  }
  .section__content a{
    color: lightgray;
  }
  .navbar li{
    list-style: none;
    
  }
  .navbar{
    display: flex;
    padding: 50px 0;
  }
  .navbar li a{
    margin-right: 30px;
  }
  .navbar li a:hover{
    color: chartreuse;
  }

  .hero__heading{
    font-style: bold;
    font-size:  32px;
    line-height: 42px;
    margin-bottom: 20px;
    
  }
  .hero__text{
    margin-bottom: 50px;
  }
  .hero__list{
    margin-left: 20px;
    margin-bottom: 80px;
  }
  .hero__link{
    line-height: 2rem;
  }
  .hero__link:hover{
    color: chartreuse;
  }
  .hero__title{
    font-size: 24px;
    font-style: bold;
    line-height: 31px;
    margin-bottom: 20px;
  }
  .hero__about{
    background-color: #32363a;
    padding: 40px 0;
  }
  .about__heading{
    font-size: 24px;
    font-style: bold;
    line-height: 31px;
    margin-bottom: 20px;
  }
  .about__text{
    margin-bottom: 20px;
  }
  .about__btn{
    padding: 20px 35px;
    background-color: chartreuse;
    color: #111;
    border: none;
  }
  .Date_navbar{
    background: #1E2125;
    width: 100%;
    height: 80px;
    display: flex;
    margin: 0 auto;
  }
  .my_icons{
    padding: 25px;
  }
  .my-icon{
    margin-left: 7px;
  }
  .phone_about{
    padding: 30px;
    color: white;
    display: flex;
    width: 100%;
  }
  .navbar_ul{
    display: flex;
    padding: 25px;
    margin-left: 277px;
  }
  .navbar_ul_li{
    list-style: none;
    margin-left: 20px;
  }
  .navbar_ul_li_a{
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  .navbar_ul_li_a_select{
    background-color: #1E2125;
    color: white;
    border: none;
    font-size: 15px;
  }
  .menu{
    display: none;
    padding: 25px;
  }
  .my_menu_bar{
    color: white;
  }
  .my_icons{
    display: flex;
  }
  .navbar_ul_li_pruple{
    background-color: #6A369C;
    list-style: none;
    padding: 25px;
    width: 172px;
  }
  .Date_section{
    background: #212529;
    width: 100%;
    height: 100%;
  }
  .links{
    padding-top: 40px;
  }
  .white_links{
    color: white;
    text-decoration: none;
  }
  .green_links{
    color: green;
    text-decoration: none;
  }
  .section_h1{
    color: white;
    padding-top: 30px;
    font-family: Arial;
  
  }
  .section_p{
    color: gray;
    margin-top: 30px;
  }
  .text{
    display: flex;
    align-items: center;
  }
  .texts_section{
    margin-top: 18px;
  }
  .section_p_dot{
    color: gray;
    margin-left: 10px;
    margin-top: 10px;
  }
  .texts_section_gray{
    background-color: #272B30;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
  }
  .btn_Data_section{
    padding: 20px 30px;
    background: #04FF14;
    border: none;
    margin-top: 20px;
  }
  .Data_section_3{
    background-color: #1E2125;
    width: 100%;
    height: 270px;
  }
  .section_h3{
    color: white;
    padding-top: 40px;
    text-align: center;
    font-family: Arial;
  }
  .boxes{
    width: 100%;
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
  }
  .box-1{
    margin: 0 auto;
    padding-top: 50px;
  }
  .main_map{
    margin-top: 40px;
  }
  .footer{
    background-color: #1E2125;
  }
  .footer_text{
    padding-top: 50px;
    display: flex;
  }
  .text_1{
    padding: 33px;
  }
  .footer_h3{
    color: white;
    font-family: Arial;
  }
  .footer_p{
    color: gray;
    font-family: Arial;
  }
  .footer_p_2{
    color: gray;
    margin-top: 30px;
    font-family: Arial;
  }
  .footer_img{
    margin-top: 30px;
  }
  .footer_text_1, .footer_text_2{
    display: flex;
  }
  .footer_text_gray{
    background-color: #272B30;
    display: flex;
  }
  .footer_gray_p{
    color: gray;
    font-family: Arial;
  }
  .footer_text_top{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
  }
  